<%- include partials/header.ejs %>
<style>

    body {

        background-image: url("../images/12.JPG") ;}
    h1,h2{

        color:white;
    }
</style>
<body>
<div>
    <h1>About</h1>
    <h2>I am a Computer programming student but I also do photography as a hobby and free</br> lancing.I wanted</br> to make my career in photography but i was stuck in programming which basically says everything</br> about me. To know more about me; Contact me and I also photoshoots in any events.</br> Click to contact for getting in touch.</br> </h2>
    
</div>
</body>
</html>
<%- include partials/footer.ejs %>